// Variables
$color-principal: #fffbf7;
$letra-principal: "Open Sans", sans-serif;
$letra-secundaria: "Alegreya", serif;
$letra-terciaria: "Slabo 27px", serif;
$color-texto-parrafos: #8b8b8bcc;
$color-navbar: #fffbf7;
$color-texto-h:#025157; 
$color-texto-secundario:#46484c; 
$color-texto-promo:#343434;
$button-color:#025157; 
$button-color-text: #fff;

body {
  // background-color: #fffbf7 !important;
  background-color: $color-principal !important;
  font-family: $letra-principal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: $color-texto-parrafos;
}

nav {
  background-color:$color-navbar; 
}

nav button {} 

button {
  background-color: $button-color;
  color: $button-color-text;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 6px 20px;
  margin-left: -10px;
}

form {
  height: 55px;
  margin-bottom: 15px;
}

input {
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  width: 60%;
  max-width: 250px;
}

input,
button {
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.signup-button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  /* border-radius: 8px; */
}

.main {
  width: 100%;
  margin-top: 290px;
  text-align: center;
  h1 {
      color: $color-texto-h;
      font-family:$letra-secundaria; 
      font-size: 60px;
      margin-bottom: 24px;
      font-weight: 900;
    }
  h4 {
    color: $color-texto-secundario;
    font-family: $letra-terciaria;
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.signup-form {
  display: flex;
  justify-content: center;
}

figure.intro > img {
  width: 80%;
}

.section-promo h3 {
  font-family: $letra-secundaria;
  font-size: 40px;
  line-height: 48px;
  color: $color-texto-h;
  margin-bottom: 30px;
}
.section-promo-text p {
  font-size: 16px;
  color: $color-texto-promo;
  line-height: 1.5;
  margin-bottom: 20px;
}

.section-promo-right {
  /* margin: 15px; */
  margin-left: 20px;
}
.section-promo-left {
  /* margin: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
.section-promo-sub {
  display: inherit;
  justify-content: center;
}

.section-features {
  background-color: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}